<article>
    <form (ngSubmit)="onFormSubmit(form.value)" #form="ngForm" class="example-form">
        <h1>Create your Account</h1>
            <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input ngModel name="fullname" matInput>
            </mat-form-field>
       
      
          
        <mat-form-field  appearance="fill">
            <mat-label>Email</mat-label>
            <input ngModel name="email" type="email" matInput placeholder="Ex. pat@example.com">
        </mat-form-field>
        <mat-form-field  appearance="fill">
            <mat-label>Password</mat-label>
            <input ngModel name="password" matInput [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
       
        <div class="button-group">
            <a routerLink="/user-login">Log in instead</a>
            <button type="submit"  mat-raised-button color="primary">Create</button>
        </div>
    </form>
</article>